.productItem {
    border:black solid 1px;
    background-color: grey;
    width: 150px;
    height: 200px;
    text-align: center;
    justify-content: space-around;
    margin:15px;
    margin-bottom: 20px;

    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;

}
